// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #256f62;
$secondary: #da8756;
$accent: #9e735e;

$dark: #243632;
$dark-page: #172420;

$positive: #2f8463;
$negative: #c45d55;
$info: #46879a;
$warning: #d99b4b;
